@import "../index.scss";
.singleFrameContainer{
    background-color: $secondaryColor;
    border: solid 2px $tertiaryColor;
   min-width: 20%
}


.frameContainer{
    background-color: $secondaryColor;
    border: solid 2px $tertiaryColor;
   
}
.outerTurnBox{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
    
}

.innerTurnBox{
    
    background-color: $secondaryColor;
    border-left: solid 2px $tertiaryColor;
    border-bottom: solid 2px $tertiaryColor;
    height:100%;
    width:20%;
    text-align: center;
    font-size: 0.5rem;

}
.singleInnerTurnBox{
    background-color: $secondaryColor;
    border-left: solid 2px $tertiaryColor;
    border-bottom: solid 2px $tertiaryColor;
    height:100%;
    width:20%;
    text-align: center;
    font-size: 0.5rem;

}

.frameTotalScore{
font-size: 1rem;
padding: 1%;
}
.singleFrameTotalScore{
    font-size: 1.5rem;
}

#turnButtonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: center;
    padding:0px;
    max-width: 80%;
    margin-left: 10%;
}

.turnButton{
    width: 45%;
    margin:2px;
    border: 3px solid $tertiaryColor;
    background-color: $secondaryColor;
    font-size: larger;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $highlight;

}

#turnDataContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin-left: 10%;
    max-height:100% ;
}

@media only screen and (min-width: 768px){
    .innerTurnBox{
        font-size: 2rem;
    
    }
    .frameTotalScore{
        font-size: 4rem;
        }
}
    
@media only screen and (min-width: 900px){

    #turnButtonContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 50vh;
        justify-content: center;
        padding:0px;
        max-width: 70%;
        margin-left: 10%;
    }

}


