@import "../index.scss";
@import "../Styling/currentTurn.scss";

#singlePlayerScoreContainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 80%;
    
}

ul{
    list-style: none;
    
}

