@import "../index.scss";
@import "../Styling/currentTurn.scss";

#singlePlayerScoreContainer{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    max-width: 70%;
    
    
}
#scoreListContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
}

