@import "../index.scss";

#playBottomButtonsContainer{
    max-width: 80%;
}

.playBottomButton{
    background-color: $primaryColor;
    border: solid 5px $tertiaryColor;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $highlight;
  
}
