@import "./index.scss";


h1 {
    color: $generalText;
    text-align: center;
}
h2 {color:$generalText}

#playBottomButtonsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.playBottomButton{
    width: 30%;
    height: 5vh;
}