$primaryColor:red;
$secondaryColor:blue;
$boxHighlightColor:blue;
$boxBackgrroundColor:rgb(190, 190, 255);



h1 {
    color: $primaryColor;
}
h2 {color:$secondaryColor}

#playBottomButtonsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.playBottomButton{
    width: 30%;
    height: 5vh;
}